PVE_API_TOKEN=""
PVE_NODE_NAME=""
PVE_HOST=""
PVE_PORT=8006
FIRST_ASSIGNABLE_IP=""
LAST_ASSIGNABLE_IP=""
TEMPLATE_ID=""
RESIZE=""
VM_USER=""
VM_PASSWD=""
DOMAIN=""
CI_SNIPPETS_PATH="/var/lib/vz/snippets"
